<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585790994486-806p5mjjescn9hem1q292lnblo02crn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585790994486-806p5mjjescn9hem1q292lnblo02crn6</string>
	<key>API_KEY</key>
	<string>AIzaSyAfHqxtvLRZAuigY8Ku2X5CdyFUzQLPnAs</string>
	<key>GCM_SENDER_ID</key>
	<string>585790994486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doctorppp</string>
	<key>PROJECT_ID</key>
	<string>doctorsonhand-96bae</string>
	<key>STORAGE_BUCKET</key>
	<string>doctorsonhand-96bae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585790994486:ios:23a0c9a2b82ec7cb8b8097</string>
</dict>
</plist>